button{
    border: none;
    background-color: white;
    font-size: 24px;
    color: rgb(122, 152, 148);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover{
    background-color: rgb(122, 152, 148);
    color: white;
}

.Equals {
    grid-column: 2/5;
    background-color: rgb(78, 96, 94);
    color: white;
}

.Equals:hover {
    background-color: rgb(61, 75, 74);
}
  